Repository jonathanadams/esphome-configs, pull requests merged in 2019-10, with the labels that each got.

#1 Sonoff S20
  _devices/sonoff-s20.md
Labels: new device

#4 Add Sonoff S31, iFan02, 4chProR2 and RF Bridge
  _devices/sonoff-4chProR2.md
  _devices/sonoff-iFan02.md
  _devices/sonoff-rf-bridge.md
  _devices/sonoff-s31.md
Labels: new device

#12 Mirabella Genio Smart Universal IR Controller
  _devices/Mirabella-Genio-Smart-Universal-IR-Controller.md
Labels: new device

#11 Mirabella Genio White Light
  _devices/Mirabella-Genio-White-Bulb.md
Labels: new device

#10 Sonoff TH10
  _devices/Sonoff-TH10.md
Labels: new device

#9 Sonoff S26
  _devices/Sonoff-S26.md
Labels: new device

#16 Only for US use
  _devices/teckin-sp-10.md
Labels: bug

#15 Generic MiFlora BLE Scanner
  _devices/Miflora BLE scanner.md
Labels: new device

#14 Generic ESP32-CAM.md
  _devices/ESP32-CAM.md
Labels: new device

#19 Seperate Switches & Dimmers into seperate types
  _device-types/dimmer.md
  _device-types/switch.md
  _devices/mj-sd01.md
Labels: enhancement

#25 Update ESP32-CAM.md
  _devices/ESP32-CAM.md
Labels: device update

#26 Nickrout patch 1
  _devices/Rotary-Encoder-Volume-Control.md
Labels: new device

#29 Create gosund-WP3.md
  _devices/gosund-WP3.md
  _devices/teckin-ss30.md
Labels: new device

#28 Add FEIT A19 Smart RGB + Warm/Cold White Bulb
  _devices/Feit-A19-OM60-RGBW-CA-AG.md
Labels: new device

#30 Add Kogan Smart plug
  _devices/kogan-smarterhome-smart-plug-with-energy-meter.md
  assets/images/kogan-smarterhome-smart-plug-energy-meter/kogan-smarterhome-smart-plug-energy-meter.jpg
Labels: new device

#31 Add Shelly 1
  _devices/shelly-1.md
Labels: new device

#33 Azpen Home Smart Plug with USB
  _devices/azpen-home-with-USB.md
  assets/images/azpen-home-with-USB/.gitkeep
  assets/images/azpen-home-with-USB/ESPboard.jpeg
  assets/images/azpen-home-with-USB/GPIOs.jpeg
  assets/images/azpen-home-with-USB/SocketSide.jpeg
  assets/images/azpen-home-with-USB/WallSide.jpeg
Labels: new device

#36 Add REAFOO-A26 RGBWW smart bulb
  _devices/reafoo-A26.md
Labels: new device

#37 Create Novostella-20W.md
  _devices/Novostella-20W.md
Labels: new device

#38 Use template for the light name too
  _devices/reafoo-A26.md
Labels: device update
