Repository jonathanadams/esphome-configs, pull requests merged in 2020-04, with the labels that each got.

#78 add sonoff t1 r2 2gang touch wall switch
  _devices/sonoff-t1-r2.md
Labels: new device

#79 add nameless ds-102 push button wall switch
  _devices/nameless-ds-102.md
Labels: new device

#80 add editorconfig to welcome contributors with the correct whitespace …
  .editorconfig
Labels: enhancement

#81 Added configuration for SZMDLX Infrared Hub
  _devices/SZMDLX-IR-Hub.md
  assets/images/SZMDLX-IR-Hub/irhub1.jpg
  assets/images/SZMDLX-IR-Hub/irhub2.jpg
Labels: new device

#82 Adding Aukey SH-PA1 Smart Plug
  _devices/Aukey-SH-PA1-Smart-Plug.md
  assets/images/Aukey-SH-PA1-Smart-Plug/aukey-plug.jpg
Labels: new device

#83 Create Arlec-Grid-Connect-Smart_LED-Globe-CWWW
  _devices/Arlec-Grid-Connect-Smart_LED-Globe-CWWW.md
Labels: new device

#85 Brilliant Lighting BL20925 Power Monitoring Plug
  _devices/Brilliant-Lighting-BL20925-Power-Monitoring-Plug.md
  assets/images/Brilliant-Lighting-BL20925-Power-Monitoring-Plug/Brilliant-Lighting-BL20925-Power-Monitoring-Plug.jpeg
Labels: new device

#84 Fix Sonoff 4CH Pro R2 - sensors and triggers
  _devices/sonoff-4chProR2.md
Labels: awaiting input, device update

#86 Remove unnecessary comment
  _devices/sonoff-4chProR2.md
Labels: device update

#87 Added Mirabella Genio 15W A70 bulb
  _devices/Mirabella-Genio-15W-A70-White-Bulb.md
Labels: new device

#89 Add 3-gang version of DS-102 and fix typo in 2-gang
  _devices/nameless-ds-102.md
Labels: device update

#93 New Device - Deta Smart Plug Base
  _devices/DETA-Grid-Connect-Smart-Plug-Base/DETA-Grid-Connect-Smart-Plug-Base.md
Labels: new device
